/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f6fc;
    color: #333;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #0056b3;
    padding: 8px 16px;
    border-radius: 5px;
}

a:hover {
    background-color: #004080;
}

.services {
    text-align: center;
    margin: 40px auto;
    max-width: 800px;
}

.services h2 {
    margin-bottom: 20px;
}

.service {
    display: inline-block;
    margin: 0 20px;
}

.service i {
    font-size: 3em;
    margin-bottom: 10px;
    color: #007bff;
}

.service h3 {
    font-size: 1.2em;
}

.service-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-details h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.service-details p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.service-details ul {
    list-style-type: none;
}

.service-details li {
    margin-bottom: 30px;
}

.service-details h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .service {
        margin: 0 10px;
    }
}
